@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    scroll-behavior: smooth;
    overflow: visible;
    height: var(--vh);
    font-family: Kanit, "Noto Sans KR", "Raleway", serif ;
}
#root{
    height: var(--vh);

}
body{
    height: var(--vh);
}

@font-face {
    font-family: Kanit;
    src: url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
    font-weight: normal;
}
